body{
    margin:0;
    padding: 0;
    width: 110vh;
    background-image: url(../IMG/cristian-palmer-XexawgzYOBc-unsplash.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    box-sizing: border-box;
}
h2{
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: 'Changa One', sans-serif;
    filter: drop-shadow( 2px 3px 2px rgb(56, 54, 54));
}
.photos{
    width: 60%;
    margin: 5% 25%;
    display: flex;
    flex-direction: row;
}

.photos img{
    width: 6.87rem;
    height: 6.87rem;
    border: 3px solid white;
    box-shadow: 1px 1px 15px white;
    border-radius: 80px;
    margin: 20px;   
}
.column1, .column2, .column3{
    display: flex;
    flex-direction: column;
}
