.parent-profile {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.507);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.profile-container {
    width: 300px;
    height: 400px;
    background-color: white;
    display: block;
}
img {
    position: relative;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}